.policy-card {
  transition: 0.5s;
  box-shadow: $box-shadow;
  cursor: pointer;
  display: flex;
  height: 80px;
  &:hover {
    transform: translateY(-10%);
  }
  @include tablet {
    margin-bottom: 36px;
  }
  @include mobile {
    margin-bottom: 16px;
  }

  &__icon {
    width: 40%;
    @include flex(center, center);
    color: $main-color;
    i {
      font-size: 3rem;
    }
  }
  &__info {
    @include flex(unset, center);
    flex-direction: column;
    width: 57%;
    &__name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &__description {
      color: $txt-second-color;
      font-size: 0.85rem;
    }
  }
}
